html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


h1{
	color:#349fa7;
	font-family: 'Raleway', sans-serif;
}
section{
	padding-top:25px;
	width:80%;
	margin:auto;
	z-index:2;
}
#quiSuisJe{
	padding-top:25px;
	width:100%;
}
.owl-carousel{
	width:80%;
	margin:auto;
}
 #photos .owl-nav{
	position: absolute;
	top: 45%;
	width: 100%;
}
 #photos .owl-prev{
	float:left;
 }
 #photos .owl-next{
	float:right;
 }
 #photos .owl-prev,  #photos .owl-next{
	background:none;
	font-size:30px;
 }
 #photos .owl-prev:hover,  #photos .owl-next:hover{
	color:#ccc;
 }
nav li{
	display:inline;
	padding-left:10px;
	font-family: 'Raleway', sans-serif;
}
nav li a{
	color:#000;
}
nav li a, nav li a:hover, nav li a:active, 
nav li a:visited, nav li a:link, nav li a:focus {
	text-decoration: none;
	outline:none;
}
nav li > a:hover{
	color:#349fa7;
}
a{
}
nav{
	z-index:100;
	height:35px;
	position:fixed;
	width:100%;
	top:0;
	font-size:20px;
	background:#fff;
	border-bottom: 2px solid #349fa7;
}
#detail h2{
	font-size:20px;
}
.active a{
    color:#349fa7;
}
#experiences .entite h2, #experiences .diplome h2{
	font-family: 'Raleway', sans-serif;
	font-size:25px;
	font-weight:bold;
}
#barreChrono{
	 border-left: thick solid #ff0000;
	 height:30px;
	 margin-top:40px;
}
#experiences .description h2{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:bold;
	margin-top:25px;
}
section li{
	display:block;
}

section li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    float: left;
    margin-top: 0px;
    margin-left: -20px;
    color: #bbb;
}
