html, body {  
	margin: 0; 
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1{
	color:#349fa7;
	font-family: 'Raleway', sans-serif;
}

#quiSuisJe{
	padding-top:25px;
	width:100%;
}
#aPropos, #detail{
	padding-top:25vh;
}
.owl-carousel{
	width:80%;
	margin:auto;
}
 #photos .owl-nav{
	position: absolute;
	top: 45%;
	width: 100%;
}
 #photos .owl-prev{
	float:left;
 }
 #photos .owl-next{
	float:right;
 }
 #photos .owl-prev,  #photos .owl-next{
	background:none;
	font-size:30px;
 }
 #photos .owl-prev:hover,  #photos .owl-next:hover{
	color:#ccc;
 }
nav li{
	display:inline;
	padding-left:10px;
	font-family: 'Raleway', sans-serif;
}
nav li a{
	color:#000;
}
nav li a, nav li a:hover, nav li a:active, 
nav li a:visited, nav li a:link, nav li a:focus {
	text-decoration: none;
	outline:none;
}
nav li > a:hover{
	color:#349fa7;
}
a{
}
nav{
	z-index:100;
	height:35px;
	position:fixed;
	width:100%;
	top:0;
	font-size:20px;
	background:#fff;
	border-bottom: 2px solid #349fa7;
}
#detail h2{
	font-size:20px;
}
.active a{
    color:#349fa7;
}
#experiences .entite h2, #experiences .diplome h2{
	font-family: 'Raleway', sans-serif;
	font-size:25px;
	font-weight:bold;
}
#experiences{
	display: flex;
}
#containerBarreChrono{
	margin-top:40px;
	margin-left:-40px;
	align-items: stretch;
}
#barreChrono{
	border-right: 3px solid #333;
	padding:0px;
	margin-top:5px;
}
.container-pro, .container-edu{
	border-left: 3px solid #333;
}

.container-pro{
	margin:43px 0 0 -48px;
}
.container-edu{
	margin-left:-48px;
}
.container-pro h1 {
	margin-top:0;
}
#chevronBarreChrono{
	margin-top:-10px;
	display:block;
	float:right;
	margin-right:-6px;
}
#experiences .description h2{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:bold;
	margin-top:25px;
}
section li{
	display:block;
}

section li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    float: left;
    margin-top: 0px;
    margin-left: -20px;
    color: #bbb;
}
.container-experiences, .container-formations{
	padding-left:30px;
}

.map .mapTooltip {
	position: absolute;
	background-color: #474c4b;
	moz-opacity: 0.70;
	opacity: 0.70;
	filter: alpha(opacity=70);
	border-radius: 10px;
	padding: 10px;
	z-index: 1000;
	max-width: 200px;
	display: none;
	color: #fff;
}
/*container-desc-chart ligne*/ 
.container-chart, canvas{
	margin:auto;
}
.container-desc-chart, .ligne{
	margin:0;
	padding:0;
}
.container-desc-chart .spacer{
	height:70px;
}
.ligne hr{
	border-top: dotted 2px #bbb;
	margin:0;
	padding:0;
	margin-top:7px;
}
.ligne{
	height:100px;
	text-align:center;
	font-size:14px;
}
#boutons-interets{
	font-size:25px;
	margin-bottom:10px;
}

@media (min-width: @screen-sm-min) {
	section{
		padding-top:25px;
		width:100vw;
		margin:auto;
		z-index:2;
		min-height:100vh;
	}
}

@media(max-width:767px){}
@media(min-width:768px){
	section{
		padding-top:25px;
		width:100vw;
		margin:auto;
		z-index:2;
		min-height:100vh;
	}
	.mapael{
		width:100%;
	}
}
@media(min-width:992px){
	section{
		padding-top:25px;
		width:80vw;
		margin:auto;
		z-index:2;
		min-height:100vh;
	}
}
@media(min-width:1200px){}
